<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.60623" targetFramework="net40" />
  <package id="JWT" version="1.2" />
  <package id="Newtonsoft.Json" version="4.5.10" />
  <package id="RestPoint" version="1.2" />
  <package id="RestSharp" version="104.1" />
  <package id="RestSharp.Net2" version="1.1.11" />
  <package id="Twilio" version="3.5.5" />
  <package id="Twilio.Client" version="3.4.2" />
  <package id="Twilio.TwiML" version="3.2.0" />
  <package id="Twilio.WebMatrix" version="3.1.3" />
</packages>