body 
{
    font-family: Arial;
    background-image: url('/images/bg.jpg');
    background-repeat: repeat-x; 
    width: 100%;
    }
    
#wrapper
{
    width: 984px;
    margin-left: auto;
    margin-right: auto;
    }     

#breadcrumb
{
    display: none;
    font-size: 11px;
	margin-top: 20px;
}


#main 
{
    float: left;
    /* width: 700px; */
    width: 718px;
	margin-top: 30px;
} 
    
#sidebar 
{
    /*float: right;
    width: 226px;
    padding: 0px 0px 40px 20px;*/
    float: right;
    width: 226px;
    padding: 0px 0px 40px 20px;
    margin-top: 140px;
    position: relative;
    }   
    
#sidebarHome
{
    float: right;
    width: 226px;
    padding: 0px 0px 40px 20px;
    position: relative;
}       
    
#main_header
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    }

#header-search
{
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    }

#mission
{
    width:auto;
    margin-left: auto;
    margin-right: auto;
    z-index:900;
    }    

#site_title
{
    margin-right: 70px;
    }
    
#member_navigation
{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 50px;
    }

    
    
#member_navigation ul
{
    margin: 0;
    padding: 0;
    }

#member_navigation ul li    
{ 
    /*height:30px; */
    list-style:none; 
    margin: 5px 0px 0px 8px;
    text-align: right;
    margin-bottom: 10px;
    /*text-transform: uppercase; */
    }

#member_navigation ul li a    
{ 
    color: #999999;
    text-decoration: none; 
    }

#member_navigation ul li a:hover    
{ 
    /*text-decoration: underline; */
    color: #FF0000;
    }  
 
 
/**************INDEX PAGE*******************/
#do-grid 
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    }

#doCol1
{
    float: left;
    position: relative;
    }
    
#doCol3
{
    float: right;
    position: relative;
    }
    
    
#doCol2
{
    position: relative;
    margin-left: 10px;
    }    
/**************INDEX PAGE*******************/
    
.li-highlight 
{
    color: #FF0000;
    }    
    
#thumb_grid 
{
    margin: 0px 5px 10px 5px;
    }  

#grid_title
{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    }
        
#grid_title a
{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    }  
    
#grid_title a:hover
{
    text-decoration: underline;
    } 
    
#user_comments
{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    padding: 8px 25px 8px 25px;
    width: 100px;
    margin-bottom: 10px;
    }

.user_comment_text
{
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    } 
    
.user_comment_detail
{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    }

.single-comment
{
    margin-bottom: 10px;
    }          
    
.pop_up
{
    background-color: #F1F1F1;
    border: 1px solid #666666;
    width: 70%;
    height: 70%;
    }   

#header-left
{
    float: left;
    }
    
#header-right 
{
    float: right;    
    }
    
.header-search {
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
	padding: 6px;
	}

.header-search-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    width: 110px;
}    

#image_watermark
{
    background: rgb(0, 0, 0) transparent;
        /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    }

#watermark-text
{
    width: 100%;
    height: 120px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    }
    
#watermark-text p
{
    /*margin: 15px 0px 10px 20px;*/
    padding: 15px 0px 10px 20px;
    } 
    
#watermark-text #line-2
{
    /*margin: 15px 0px 10px 20px;*/
    font-size: 18px;
    font-weight: normal;
    }          
       
#interactive-text1
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }
    
#interactive-text2
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }
    
#interactive-text3
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    } 
    
#interactive-text4
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }           

#interactive-text5
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }
    
#interactive-text6
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }
    
#interactive-text7
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }

#interactive-text8
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }
    
#interactive-text9
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/alpah_png.png');*/
    /*background-image:url('/images/alpah_png.png');*/
    background-color: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    display: none;
    }
                        
#interactive-right    
{
    float: right;
    width: 54px;
    }

#interactive-right p  
{
    margin: 0px 0px 3px 0px;
    padding: 2px 3px 2px 8px;
    background-color: #FF0000;
    font-size: 14px;
    }

#interactive-right p a
{
    color: #FFFFFF;
    text-decoration: none;
    font-variant: small-caps;
    }    

#interactive-left
{
    float: left;
    width: 166px;
    }
    
#interactive-left p
{
    margin: 5px 0px 5px 5px;
    font-weight: bold;
    } 
    
#interactive-left p #line-2
{
    font-weight: normal;
    }        
        
.picCol1 
{
    padding: 8px 8px 8px 8px;
    } 
    
.site-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    width: 130px;
    color: #FFFFFF;
    background-color: #999999;
    font-size: 14px;
    font-weight: bold;
    border-width: 0px;
}

.link-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    width: 130px;
    color: #FFFFFF;
    background-color: #999999;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 5px 8px 5px;
}    

#custom-hr 
{
    border-bottom: 2px solid #FF0000;
    width: 100%;
}
    

/**************PROVIDER PROFILE*******************/
.slide-rail 
{
    position: relative;
    height: 28px;
    width: 292px;
    background-image: url('/images/slide_rail.gif');
    }
    
.slide-rail_off 
{
    position: relative;
    height: 28px;
    width: 292px;
    background-image: url('/images/slide_rail_off.gif');
    }    
    
.slide-handle
{
    position: absolute;
    height: 14px;
    width: 18px;
}    
    
#provider-info
{
    width: 100%;
    padding: 10px 20px 10px 0px;
    color: #999999;
    }
    
.provider-table
{
    width: 100%;
    color: #999999;
    }    
    
#provider-info h3       
{
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    } 


#provCol1
{
    float: left;
    position:relative;
    width: 31%;
    font-size: 14px;
    color: #999999;
    line-height: 25px;
    }  

#provCol3
{
    float: right;
    position:relative;
    width: 42%;
    }           

#provCol2
{
    position:relative;
    width: 27%;
    padding-left: 222px;
    font-size: 14px;
    color: #999999;
    line-height: 25px;
    }    
    
    
/**************SIGN UP PAGE*******************/      
.btn-member 
{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    width: 250px;
    height: 100px;
    margin: 120px 30px 200px 0px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* default background colour, for all layout engines that don't implement gradients */
    background: #999999;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #c5c5c5, #999999);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#999999));
    }

.btn-provider
{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    width: 250px;
    height: 100px;
    margin: 120px 0px 200px 0px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* default background colour, for all layout engines that don't implement gradients */
    background: #FFA52B;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #FFE76E, #FFA52B);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFE76E), to(#FFA52B));
    }

.btn-create-account
{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 378px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* default background colour, for all layout engines that don't implement gradients */
    background: #FFA52B;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #FFE76E, #FFA52B);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFE76E), to(#FFA52B));
    }
    
.text-field 
{
    width: 396px;
    height: 44px;
    font-size: 24px;
    padding-left: 5px;
    margin: 0px 5px 12px 0px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }        

.sign-error-text
{
    color: #FF0000;
    font-size: 12px;
    }

#disclaimer
{
    width: 378px;
    padding: 5px 5px 5px 5px;
    background-color: #F4F4F4;
    font-size: 11px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }
    
.reg-title
{
    font-size: 28px;
    }    
/**************SIGN UP PAGE*******************/           


/**************PROFILE PAGE*******************/ 
.services
{
    line-height: 30px;
    }
.shop-info
{
    margin: 20px 0px 20px 0px;
    }
  
.profile-input    
{
    margin: 0px 0px 12px 0px;
    height: 30px;
    font-size: 16px;
    } 
    
#style-input
{
    float: left;
    width: 34%;
    }       
    
#style-display 
{
    float: right;
    width: 66%;
    }
    
.service-button
{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 15px;
    color: #000000;
    }    
    
#service-title
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
    padding: 3px 3px 3px 3px;
    margin: 5px 5px 5px 5px;
    }    
       
/**************PROFILE PAGE*******************/ 



/**************SEARCH PAGE*******************/ 
#search-rating
{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin: 0px 0px 5px 10px;
    }

#search-title 
{
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    margin: 0px 0px 5px 10px;
    } 
    
#search-style-by
{
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    margin: 0px 0px 5px 10px;
    }   
    
#search-title a
{
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    } 

.search-shop
{
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    }          
       
/**************SEARCH PAGE*******************/ 



/**************LOGIN PAGE*******************/ 
#lg-field1 
{
    width: 396px;
    margin: 25px 0px 10px 0px;
    }

#lg-field2 
{
    width: 396px;
    margin: 0px 0px 10px 0px;
    }

#lg-field3 
{
    width: 396px;
    margin: 0px 0px 10px 0px;
    text-align: right;
    }
    
#login-panel
{
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    display: none;
    z-index:9999;
    
    /*****************************/
    width:375px;
    height:203px;
    }    
/**************LOGIN PAGE*******************/ 

.window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#mask {
  position:absolute;
  z-index:900;
  background-color:#000;
  display:none;
}

#upload-panel
{
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    display: none;
    z-index:9999;
    
    /*****************************/
    width:375px;
    height:203px;
    } 

.menu-tab 
{
    border: 4px solid #CCCCCC;
    background-color: #CCCCCC;
    font-size: 16px;
    width: 102px;
    height: 38px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.menu-tab-active
{
    border: 4px solid #CCCCCC;
    background-color: #FFFFFF;
    font-size: 16px;
    width: 102px;
    height: 38px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.menu-tab2 
{
    border: 4px solid #CCCCCC;
    background-color: #CCCCCC;
    font-size: 16px;
    width: 152px;
    height: 38px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.menu-tab2-active
{
    border: 4px solid #CCCCCC;
    background-color: #FFFFFF;
    font-size: 16px;
    width: 152px;
    height: 38px;
    margin-right: 25px;
    margin-bottom: 10px;
}

#profile-pic 
{
    background-color: #FFFFFF;
    margin-bottom: 10px;
    }
    
.gen-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    color: #FFFFFF;
    background-color: #999999;
    font-size: 14px;
    font-weight: bold;
    border: 0px none #CCCCCC;
}

.find-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    color: #FFFFFF;
    background-color: Green;
    font-size: 14px;
    font-weight: bold;
    border: 0px none #CCCCCC;
}

.next-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    color: #FFFFFF;
    background-color: #009900;
    font-variant: small-caps;
    font-size: 28px;
    border: 0px none #CCCCCC;
}

.back-button {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 32px;
    color: #FFFFFF;
    background-color: #666666;
    font-size: 28px;
    font-variant: small-caps;
    border: 0px none #CCCCCC;
}    

#my_info{
	width:700px;
  height:1000px;
}

label{
	color:#666;
}

input{
	margin:0px;
	height:30px;
	border-radius:8px;
	font-size:15px;
	border-style:solid;
	border-color:#999;
	border-width:1px;
	outline:none;
	color:#999;
}

.form_column{
	width:640px;
	height:60px;
	position:relative;
	margin-bottom:10px;
}

.wrap_form_input{
	float:left;
	width:310px;
  height:100px;
}

.stylist_name{
	width:300px;
	height:30px;
  outline:none;
	position:absolute;
}



.long_wrap{
	width:610px;
	position:absolute;
	top:0px;
  
}

.long_input{
	width:617px;
}

#last_name_provider{
	margin-left:5px;
}

.short_input{
	width:200px;
}

#select_state{
	width:200px;
	height:30px;
	position:relative;

}

#state_wrap{
	margin-right:10px;
	margin-left:10px;
}

.short_wrap{
	float:left;
}
       